fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
requests==2.31.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4
PyMuPDF==1.23.8
python-docx==1.1.0
python-pptx==0.6.23
pandas
openpyxl
langdetect==1.0.9
pymongo==4.6.1
Pillow==10.1.0
torch==2.1.1
transformers==4.35.2
easyocr==1.7.0
opencv-python-headless>=4.8.0
pymongo>=4.0.0
spacy>=3.4.0
keybert>=0.7.0
textblob>=0.17.0
nltk>=3.8
PyJWT==2.8.0